.login-form{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 70%;
    background-color: rgb(238, 241, 244);
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgb(189, 188, 188);
}
.login-form>div>label{
    font-weight: bold;
    font-size: 15px;
}
.login-card{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 90%;
}

